#play-field {
  background-color: #000;
  /* background: linear-gradient(pink, purple); */
  background-image: url(https://images.pexels.com/photos/159020/sunset-sky-afterglow-evening-sky-159020.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 800px;
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#jumper {
  background-color: white;
  height: 20px;
  content: url(https://ih0.redbubble.net/image.366039979.8508/flat,800x800,075,f.jpg);
  position: absolute;
  width: 20px;
}

#scoreDiv {
  top: 10px;
  left: 20px;
  position: absolute;
  color: white;
  font-family: Arial;
}

.basicPlatform {
  background-color: white;
  height: 5px;
  position: absolute;
  width: 50px;
}

.gameOver {
  color: white;
  position: absolute;
  left: 220px;
  font-family: Arial;
}

.w3-sidebar-w3-bar-block{
   height: 90%; /* Full-height: remove this if you want "auto" height */
     width: 90px; /* Set the width of the sidebar */
     position: fixed; /* Fixed Sidebar (stay in place on scroll) */
     z-index: 1; /* Stay on top */
     top: 10; /* Stay at the top */
     left: 0;
     overflow-x: hidden; /* Disable horizontal scroll */
     padding-top: 10px;
 }

 input[type=text] {
    border: 2px solid #e18570;
    border-radius: 4px;
}

#usernameInputLabel{
  font-family: Arial;
}
