#play-field {
  background-color: blue;
  height: 800px;
  width: 600px;
  background-image: url(https://images.unsplash.com/photo-1516571748831-5d81767b788d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5a29d44f8c78ba3da0e00af9c60de1a3&auto=format&fit=crop&w=634&q=80);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#jumper {
  background-color: white;
  height: 20px;
  position: absolute;
  width: 20px;
}

#scoreDiv {
  top: 10px;
  left: 20px;
  position: absolute;
  color: white;
}

.basicPlatform {
  background-color: white;
  height: 5px;
  position: absolute;
  width: 50px;
}

.gameOver {
  color: white;
  position: absolute;
  left: 220px;
}

.w3-sidebar-w3-bar-block{
  height: 90%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 0; /* Stay on top */
    top: 10; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px;
}
