#play-field {
  background-color: #000;
  /* background: linear-gradient(pink, purple); */
  background-image: url(https://images.pexels.com/photos/753267/pexels-photo-753267.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 800px;
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#jumper {
  background-color: white;
  height: 20px;
  position: absolute;
  width: 20px;
}

#scoreDiv {
  top: 10px;
  left: 20px;
  position: absolute;
  color: white;
  font-family: Comic Sans MS;
}

.basicPlatform {
  background-color: white;
  height: 5px;
  position: absolute;
  width: 50px;
  box-shadow: 0px 0px 10px 5px pink;
}

.gameOver {
  color: white;
  position: absolute;
  left: 220px;
  font-family: Comic Sans MS;
}

.w3-sidebar-w3-bar-block{
   height: 90%; /* Full-height: remove this if you want "auto" height */
     width: 90px; /* Set the width of the sidebar */
     position: fixed; /* Fixed Sidebar (stay in place on scroll) */
     z-index: 0; /* Stay on top */
     top: 10; /* Stay at the top */
     left: 0;
     overflow-x: hidden; /* Disable horizontal scroll */
     padding-top: 10px;

 }

input[type=text] {
    border: 2px solid pink;
    border-radius: 4px;
 }

#usernameInputLabel{
   font-family: Comic Sans MS;
 }
