#play-field {
  background-color: #000;
  z-index: 1;
  /* background: linear-gradient(pink, purple); */
  background-image: url(https://images.pexels.com/photos/634043/pexels-photo-634043.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  height: 800px;
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#jumper {
  background-color: white;
  height: 20px;
  content: url(http://cdn.shopify.com/s/files/1/1061/1924/products/Poop_Emoji_7b204f05-eec6-4496-91b1-351acc03d2c7_grande.png?v=1480481059);
  position: absolute;
  width: 20px;
  background: transparent;
}

#scoreDiv {
  top: 10px;
  left: 20px;
  position: absolute;
  color: white;
  font-family: Arial;
}

#leaderboard {
  z-index: 0;
  width: 400px;
  height: 800px;
  top: 0%;
  right: 1%;
  position: absolute;
  overflow-y: scroll;
}

#lb-reset {
  text-decoration: underline;
  color: blue;
}

#lb-reset:hover {
  cursor: pointer;
}

#tutorial {
  z-index: 3;
  height: 800px;
  width: 600px;
  top: 0%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: white;
  background-color: black;
  font-family: Arial;
}

#letsgo:hover {
  text-shadow: 0 0 10px #6da5ff;
  cursor: pointer;
}

#gameOver {
  color: white;
  position: absolute;
  left: 21%;
  font-family: Arial;
}

#retry:hover {
  text-shadow: 0 0 10px #6da5ff;
  cursor: pointer;
}

#retryNew:hover {
  text-shadow: 0 0 10px #6da5ff;
  cursor: pointer;
}

/* table stuff */
table {
  width: 50%;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr {
  text-align: center;
  width: 200px
}
th {
    background-color: black;
    color: white;
    width: 200px
}
/* end table stuff */

.basicPlatform {
  background-color: white;
  height: 5px;
  position: absolute;
  width: 50px;
  left: 275px;
  box-shadow: 0px 0px 10px 3px grey;
}
.fragilePlatform {
  background-color: red;
  border-color: white;
  border-radius: 1px;
  height: 5px;
  position: absolute;
  width: 50px;
  left: 275px;
}
.mobilePlatform {
  background-color: purple;
  height: 5px;
  position: absolute;
  width: 50px;
  left: 275px;
}
.mobileFragilePlatform {
  background-color: red;
  border-color: white;
  border-radius: 1px;
  height: 5px;
  position: absolute;
  width: 50px;
}
.smallPlatform {
  background-color: white;
  height: 5px;
  position: absolute;
  width: 20px;
  left: 290px;
}

.bouncer {
  transform: rotate(15deg);
  position: absolute;
  width: 32px;
  height: 32px;
  background-image: url("../images/if_bounce_45306.png")
}

.w3-sidebar-w3-bar-block{
   height: 90%; /* Full-height: remove this if you want "auto" height */
   width: 90px; /* Set the width of the sidebar */
   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   z-index: 0; /* Stay on top */
   top: 0%; /* Stay at the top */
   left: 10;
   overflow-x: hidden; /* Disable horizontal scroll */
   /* padding-top: 10px; */
 }

input[type=text] {
    border: 2px solid grey;
    border-radius: 4px;
}

#usernameInputLabel{
  font-family: Arial;
}
