#play-field {
  z-index: 1;
  background-color: #000;
  height: 800px;
  width: 600px;
  top: 0%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
}

#jumper {
  background-color: white;
  height: 20px;
  position: absolute;
  width: 20px;
}

#scoreDiv {
  top: 10px;
  left: 20px;
  position: absolute;
  color: white;
}

#leaderboard {
  z-index: 0;
  width: 400px;
  height: 800px;
  top: 0%;
  right: 1%;
  position: absolute;
  overflow-y: scroll;
}

#gameOver {
  color: white;
  position: absolute;
  left: 125px;
}

#retry:hover {
  text-shadow: 0 0 10px #6da5ff;
  cursor: pointer;
}

#retryNew:hover {
  text-shadow: 0 0 10px #6da5ff;
  cursor: pointer;
}


/* table stuff */
table {
  width: 50%;
}
tr:nth-child(even) {background-color: #f2f2f2;}
tr {
  text-align: center;
  width: 200px
}
th {
    background-color: black;
    color: white;
    width: 200px
}
/* end table stuff */

.basicPlatform {
  background-color: white;
  height: 5px;
  position: absolute;
  width: 50px;
}
.fragilePlatform {
  background-color: red;
  border-color: white;
  border-radius: 1px;
  height: 5px;
  position: absolute;
  width: 50px;
}
.mobilePlatform {
  background-color: purple;
  height: 5px;
  position: absolute;
  width: 50px;
}
.mobileFragilePlatform {
  background-color: red;
  border-color: white;
  border-radius: 1px;
  height: 5px;
  position: absolute;
  width: 50px;
}
.smallPlatform {
  background-color: white;
  height: 5px;
  position: absolute;
  width: 20px;
}

.w3-sidebar-w3-bar-block{
   height: 90%; /* Full-height: remove this if you want "auto" height */
   width: 90px; /* Set the width of the sidebar */
   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   z-index: 0; /* Stay on top */
   top: 0%; /* Stay at the top */
   left: 10;
   overflow-x: hidden; /* Disable horizontal scroll */
   /* padding-top: 10px; */
 }
